<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
       http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd">

    <!--bean id="propertyConfigurer"
          class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer"
          p:location="/WEB-INF/jdbc.properties" />

    <bean id="dataSource"
          class="org.springframework.jdbc.datasource.DriverManagerDataSource"
          p:driverClassName="${jdbc.driverClassName}"
          p:url="${jdbc.url}"
          p:username="${jdbc.username}"
          p:password="${jdbc.password}" /-->

    <!-- ADD PERSISTENCE SUPPORT HERE (jpa, hibernate, etc) -->
    
    <!-- Load values which typically vary per profile (dev, prod etc) -->
    <bean id="placeholderConfig"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="location" value="classpath:app.properties" />
    </bean>
    
    <context:component-scan base-package="uk.ac.bristol.dundry" />
    
    <bean class="uk.ac.bristol.dundry.dao.FileSystemSource">
        <constructor-arg value="${sources.dir}"/>
    </bean>
    
    <bean class="uk.ac.bristol.dundry.dao.Repository">
        <constructor-arg value="${repo.publishbase}"/>
        <constructor-arg>
            <bean class="uk.ac.bristol.dundry.dao.FileRepository">
                <constructor-arg value="${repo.depositdir}"/>
                <constructor-arg value="${repo.pubdir}"/>
            </bean>
        </constructor-arg>
        <constructor-arg>
            <bean class="uk.ac.bristol.dundry.dao.MetadataStoreTDB">
                <constructor-arg value="${repo.metadata}"/>
            </bean>
        </constructor-arg>
        <constructor-arg> <!-- post-deposit tasks -->
              <list>
                  <value>uk.ac.bristol.dundry.tasks.IndexDepositTask</value>
                  <value>uk.ac.bristol.dundry.tasks.MDExtractTika</value>
              </list>
        </constructor-arg>
        <constructor-arg> <!-- pre-publish tasks -->
              <list>
                  <value>uk.ac.bristol.dundry.tasks.DataCiteSubmit</value>
                  <value>uk.ac.bristol.dundry.tasks.MakeTorrentTask</value>
                  <value>uk.ac.bristol.dundry.tasks.SymLinkTask</value>
                  <value>uk.ac.bristol.dundry.tasks.GenerateApacheIndexes</value>
                  <value>uk.ac.bristol.dundry.tasks.EnsurePublicPermissions</value>
              </list>
        </constructor-arg>
        <constructor-arg>
            <util:properties location="classpath:task.properties"/>
        </constructor-arg>
    </bean>
    
    <bean class="uk.ac.bristol.dundry.dao.BTTracking">
        <constructor-arg value="${torrent.scandir}"/>
    </bean>
    
    <bean class="uk.ac.bristol.dundry.webresources.providers.RdfResourceMappingProvider"
        scope="singleton">
        <constructor-arg>
            <list>
                <value>vocabs/dcterms.rdf</value>
                <value>vocabs/repository.ttl</value>
                <value>vocabs/opmv-20101006.ttl</value>
                <value>vocabs/bibo.xml.owl</value>
            </list>
        </constructor-arg>
        <constructor-arg>
            <list>
                <value>contributors</value>
                <value>creators</value>
                <value>subjects</value>
                <value>identifiers</value>
                <value>references</value>
                <value>isReferencedBy</value>
            </list>
        </constructor-arg>
    </bean>
    
</beans>
